.hero {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: auto !important;
  padding-right: 5% !important;
  padding-left: 5% !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.hero-left {
  width: 50% !important;
  padding-right: 78px !important;
}

.hero-right {
  width: 50% !important;
}

.paragraph {
  margin-bottom: 22px !important;
}
